@model IEnumerable<EFG_Task.Models.InvestorSector>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.interestedSector)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.timeSector)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.interestedSector)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.timeSector)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.investorSectorID }) |
            @Html.ActionLink("Details", "Details", new { id=item.investorSectorID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.investorSectorID })
        </td>
    </tr>
}

</table>
