@model EFG_Task.Models.Investee

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Investee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.mobile)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.mobile)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.investorSecteeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.investorSecteeID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idInvestee }) |
    @Html.ActionLink("Back to List", "Index")
</p>
