@model IEnumerable<EFG_Task.Models.Investee>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.investorSecteeID)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.investorSecteeID)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idInvestee }) |
            @Html.ActionLink("Details", "Details", new { id=item.idInvestee }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idInvestee })
        </td>
    </tr>
}

</table>
