@model EFG_Task.Models.ConferencerRoom

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ConferencerRoom</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.roomNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roomNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.timeSector)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.timeSector)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.conferencerRoomID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
